asgiref==3.2.3
autopep8==1.4.4
beautifulsoup4==4.8.2
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.13.2
coverage==5.0.2
cssselect2==0.2.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.0.2
django-bootstrap4==1.1.1
django-crispy-forms==1.8.1
entrypoints==0.3
flake8==3.7.8
gunicorn==19.9.0
html5lib==1.0.1
mccabe==0.6.1
Pillow==6.2.0
psycopg2-binary==2.8.3
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
Pyphen==0.9.5
python-decouple==3.1
pytz==2019.2
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
tinycss2==1.0.2
WeasyPrint==51
webencodings==0.5.1
