{% extends "base.html" %}
{% load custom_tags %}

{% block title %} Обзор {% endblock title %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-phone"></i> Входящие звонки</span>
            <div class="count
                        {% if calls_cnt_percent < 0 %}
                            red
                        {% elif calls_cnt_percent > 20 %}
                            green
                        {% else %}
                            gray
                        {% endif %}">
                {{ calls_cnt }}</div>
            <span class="count_bottom">
                <i class="
                                {% if calls_cnt_percent < 0 %}
                                    red
                                {% elif calls_cnt_percent > 0 %}
                                    green
                                {% else %}
                                    gray
                                {% endif %}">
                    {% if calls_cnt_percent > 0 %}
                    <i class="fa fa-sort-asc"></i>
                    {% elif calls_cnt_percent < 0 %}
                    <i class="fa fa-sort-desc"></i>
                    {% endif %}
                    {{ calls_cnt_percent }}%
                </i> к пред. неделе</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-shopping-cart"></i> Кол-во заказов</span>
            <div class="count
                        {% if orders_cnt_percent < 0 %}
                            red
                        {% elif orders_cnt_percent > 20 %}
                            green
                        {% else %}
                            gray
                        {% endif %}">
                {{ orders_cnt }}</div>
            <span class="count_bottom">
                <i class="
                            {% if orders_cnt_percent < 0 %}
                                red
                            {% elif orders_cnt_percent > 0 %}
                                green
                            {% else %}
                                gray
                            {% endif %}">
                    {% if orders_cnt_percent > 0 %}
                    <i class="fa fa-sort-asc"></i>
                    {% elif orders_cnt_percent < 0 %}
                    <i class="fa fa-sort-desc"></i>
                    {% endif %}
                    {{ orders_cnt_percent }}%
                </i> к пред. неделе</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-shopping-cart"></i> Сумма заказов, т.р.</span>
            <div
                class="count {% if orders_sum_percent < 0 %}red{% elif orders_sum_percent > 20 %}green{% else %}gray{% endif %}">
                {{ orders_sum|thousands }}
            </div>
            <span class="count_bottom">
                <i
                    class="{% if orders_sum_percent < 0 %}red{% elif orders_sum_percent > 0 %}green{% else %}gray{% endif %}">
                    {% if orders_sum_percent > 0 %}
                    <i class="fa fa-sort-asc"></i>
                    {% elif orders_sum_percent < 0 %}
                    <i class="fa fa-sort-desc"></i>
                    {% endif %}
                    {{ orders_sum_percent }}% </i> к
                пред. неделе</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-truck"></i> Кол-во отгрузок</span>
            <div class="count
                        {% if shipments_cnt_percent < 0 %}
                            red
                        {% elif shipments_cnt_percent > 20 %}
                            green
                        {% else %}
                            gray
                        {% endif %}">
                {{ shipments_cnt }}</div>
            <span class="count_bottom">
                <i class="
                            {% if shipments_cnt_percent < 0 %}
                                red
                            {% elif shipments_cnt_percent > 0 %}
                                green
                            {% else %}
                                gray
                            {% endif %}">
                    {% if shipments_cnt_percent > 0 %}
                    <i class="fa fa-sort-asc"></i>
                    {% elif shipments_cnt_percent < 0 %}
                    <i class="fa fa-sort-desc"></i>
                    {% endif %}
                    {{ shipments_cnt_percent }}%
                </i> к пред. неделе
            </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-truck"></i> Сумма отгрузок, т.р.</span>
            <div
                class="count {% if shipments_sum_percent < 0 %}red{% elif shipments_sum_percent > 20 %}green{% else %}gray{% endif %}">
                {{ shipments_sum|thousands }}
            </div>
            <span class="count_bottom">
                <i
                    class="{% if shipments_sum_percent < 0 %}red{% elif shipments_sum_percent > 0 %}green{% else %}gray{% endif %}">
                    {% if shipments_sum_percent > 0 %}
                    <i class="fa fa-sort-asc"></i>
                    {% elif shipments_sum_percent < 0 %}
                    <i class="fa fa-sort-desc"></i>
                    {% endif %}
                    {{ shipments_sum_percent }}%
                </i> к пред. неделе
            </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-credit-card"></i> Сумма платежей, т.р.</span>
            <div
                class="count {% if payments_sum_percent < 0 %}red{% elif payments_sum_percent > 20 %}green{% else %}gray{% endif %}">
                {{ payments_sum|thousands }}
            </div>
            <span class="count_bottom">
                <i
                    class="{% if payments_sum_percent < 0 %}red{% elif payments_sum_percent > 0 %}green{% else %}gray{% endif %}">
                    {% if payments_sum_percent > 0 %}
                    <i class="fa fa-sort-asc"></i>
                    {% elif payments_sum_percent < 0 %}
                    <i class="fa fa-sort-desc"></i>
                    {% endif %}
                    {{ payments_sum_percent }}%
                </i> к пред. неделе
            </span>
        </div>
    </div>
    <!-- /top tiles -->
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super}}
{% endblock javascripts %}
