{% extends 'defections/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h2>Добавить новый акт обнаружения брака</h2>
<br>
{{ context.extid }}
<form method="POST" enctype="multipart/form-data" id="defectionForm"
    data-offerings-url="{% url 'defections:ajax_load_offerings' %}" novalidate>
    {% csrf_token %}
    {{ form.shipment|as_crispy_field }}
    {{ form.offering|as_crispy_field }}
    {{ form.serial_number|as_crispy_field }}
    {{ form.kind|as_crispy_field }}
    {{ form.description|as_crispy_field }}
    <div class="row">
        <div class="col-4">
            {{ form.damage_photo|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ form.package_photo_outside|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ form.package_photo_inside|as_crispy_field }}
        </div>
    </div>
    <div style="margin-top: 20px">
        <button name="submit" class="btn btn-success">Отправить</button>
        <a href="{% url  'defections:index' account.extid %}" class="btn btn-danger"
            style="margin-left: 20px;">Отмена</a>
    </div style="margin-top: 20px">
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $('#id_shipment').change(function () {
        var url = $('#defectionForm').attr('data-offerings-url');
        var shipmentId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'shipment': shipmentId
            },
            success: function (data) {
                $('#id_offering').html(data);
            }
        });
    });
    $('#id_kind').change(function () {
        var placeholderText = 'Укажите характер брака';
        var kindId = $(this).val();
        if (kindId === 'SH') {
            $('#id_damage_photo').attr('disabled', true);
            $('#id_package_photo_outside').attr('disabled', true);
            $('#id_package_photo_inside').attr('disabled', true);
            placeholderText = 'Укажите, чего не хватает в комплекте';
        } else if (kindId === 'TG') {
            $('#id_damage_photo').attr('disabled', false);
            $('#id_package_photo_outside').attr('disabled', false);
            $('#id_package_photo_inside').attr('disabled', false);
            placeholderText = 'Укажите, какие детали повреждены';
        } else {
            $('#id_damage_photo').attr('disabled', false);
            $('#id_package_photo_outside').attr('disabled', true);
            $('#id_package_photo_inside').attr('disabled', true);
        }
        $('#id_description').attr('placeholder', placeholderText)
    });
</script>
{% endblock content %}
